nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
	background-color: #fff;
}

nav .logo {
  width: max(10%, 80px);
}

nav .profile {
  width: 40px;
}

.navbar-right {
	display: flex;
	align-items: center;
	gap: 40px;
}

.navbar-right button {
	background: transparent;
	font-size: 16px;
	color: #49557e;
	border: 1px solid tomato;
	padding: 10px 30px;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.4s;
}

.navbar-right button:hover {
	background-color: #fff4f2;
}

.navbar-profile {
	position: relative;
}

.navbar-profile img {
	width: 20px;
}

.navbar-profile-dropdown {
	position: absolute;
	display: none;
	right: 0;
	z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #fff2ef;
	padding: 12px 25px;
	border-radius: 4px;
	border: 1px solid tomato;
	outline: 2px solid white;
	list-style: none;
}

.navbar-profile-dropdown li {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.navbar-profile-dropdown img {
	width: 20px;
}

.navbar-profile-dropdown li:hover {
	color: tomato;
}